<div class="body" style="display: flex;min-height: 100px;">
    <div class="slider-wrapper">
        <div class="slider">
            <div class="slider-button">
                <i class="fa-solid fa-plus slider-icon"></i>
            </div>
            <ul class="slider-list">
                <li><a href="#" class="slider-item"><i class="fa-solid fa-house"></i><span>Home</span></i></a></li>
                <li><a href="#" class="slider-item"><i class="fa-solid fa-road"></i><span>Lộ trình</span></i></a>
                </li>
                <li><a href="#" class="slider-item"><i class="fa-solid fa-lightbulb"></i><span>Học</span></i></a>
                </li>
                <li><a href="#" class="slider-item"><i class="fa-solid fa-newspaper"></i><span>Blog</span></i></a>
                </li>
            </ul>
        </div>
    </div>
    <div class="content">
        <div class="courses">
            <div class="container d-flex">
                <div class="courses-left w-66">
                    <h4 class="courses-heading">{{course.name}}</h4>
                    <p class="courses-desc">{{course.description}}</p>
                    <div class="courses-topic">
                        <h3 class="courses-topic-heading">
                            Bạn sẽ học được gì?
                        </h3>
                        <ul class="courses-topic-list">
                            {{#each course.courseOverview}}
                                <li><i class="fa-solid fa-check"></i> <span>{{this}}</span></li>
                            {{/each}}
                        </ul>
                    </div>
                    <div class="courses-sub">
                        <h3 class="courses-sub-heading">
                            Nội dung khóa học
                        </h3>
                        <div class="d-flex space-between">
                            <ul class="courses-sub-subHead">
                                <li>
                                    <strong>{{{getLengthObject course.courseContent}}} </strong>chương
                                </li>
                                <li>
                                    <i class="fa-solid fa-circle"></i>
                                </li>
                                <li>
                                    <strong>
                                    {{{getTotalLengthLesson course.courseContent}}} </strong>
                                    bài học
                                </li>
                                <li>
                                    <i class="fa-solid fa-circle"></i>
                                </li>
                                <li>
                                    Thời lượng
                                    <strong>{{{getTotalVideoLength course.courseContent}}}</strong>
                                </li>
                            </ul>
                            <a href="#" class="courses-sub-openAll">Mở rộng tất cả</a>
                        </div>
                    </div>
                    <div class="courses-content">
                        <div class="courses-content-list">
                            <div class="courses-content-item">  
                                {{#each course.courseContent}}
                                    <div class="courses-content-heading">
                                        <span class="courses-content-groupName">
                                            <strong>1. {{this.name}}</strong>
                                        </span>
                                        <span class="courses-content-countLesson">
                                            {{{getLengthObject this.lesson}}} bài học
                                        </span>
                                    </div>
                                        <div class="courses-content-details d-none" id="item{{@index}}">
                                            {{#each this.lesson}}
                                                <div class="courses-content-details-lesson">
                                                    <div>
                                                        <i class="fa-solid fa-circle-play"></i>
                                                        <span class="pl-5px">1. {{this.name}}</span>
                                                    </div>
                                                    <span class="text-right">{{{numberToTime this.videoLength}}}</span>
                                                </div>
                                            {{/each}}
                                        </div>
                                {{/each}}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="courses-right w-33 text-center">
                    <div class="courses-img">
                        <div class="courses-img-preview" style="background-image: url({{course.image}});"></div>
                        <div class="courses-img-content">
                            <a href="#"><i class="fa-solid fa-circle-play"></i></a>
                            <p>Xem giới thiệu khoá học</p>
                        </div>
                    </div>
                    <h6>Đã đăng ký</h6>
                    <button class="courses-btn" onclick="goLearn('{{course.slug}}')">Tiếp tục học</button>
                    <ul class="courses-preview-list">
                        <li class="courses-preview-item"><i class="fa fa-tachometer"></i><span>{{course.level}}</span>
                        </li>
                        <li class="courses-preview-item"><i class="fa-solid fa-film"></i><span>Tổng số <strong>{{{getTotalLengthLesson course.courseContent}}}</strong> bài học</span>
                        </li>
                        <li class="courses-preview-item"><i class="fa-solid fa-clock"></i><span>Thời lượng <strong>{{{getTotalVideoLength course.courseContent}}}</strong></span>
                        </li>
                        <li class="courses-preview-item"><i class="fa-solid fa-battery-full"></i><span>{{course.statusLearn}}</span></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>