<div class="learn">
  {{log 'dsa' user }}
  <div class="learn-content">
    <div class="learn-video">
      <iframe width="699" height="393" src="https://www.youtube.com/embed/OuNo8Tkb3lI" title="YouTube video player"
        frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen></iframe>
    </div>
    <div class="learn-content-container">
      <div class="learn-content-header">
        <div class="learn-content-header-left">
          <h3 class="learn-content-heading">Mô hình Client - Server là gì?</h3>
          <p class="learn-content-date">Cập nhật tháng 2 năm 2022</p>
        </div>
        <div class="learn-content-header-right">
          <button class="learn-content-note"><i class="fa-solid fa-plus"></i>
            Thêm ghi chú</button>
        </div>
      </div>
      <div class="learn-content-markDown">
        <p>Tham gia nhóm Học lập trình tại F8 trên Facebook để cùng nhau trao
          đổi trong quá trình học tập ❤️</p>
        <p>Các bạn subscribe kênh Youtube F8 Official để nhận thông báo khi có
          các bài học mới nhé ❤️</p>
      </div>
    </div>
    <p class="learn-content-makeBy">Make by Phước ❤️</p>
  </div>
  <div class="learn-track">
    <div class="learn-container">
      <h3 class="learn-track-heading">
        Nội dung khoá học
      </h3>
      <div class="learn-track-body">
        {{#each course.courseContent}}
        <div class="learn-track-item">
          <div class="learn-track-item-heading">
            <h3 class="learn-track-item-title">1. {{this.name}}<i class="fa-solid fa-angle-down"
                id="icon{{@index}}"></i></h3>
            <span class="learn-track-item-desc">{{{getLessonCompletedInChapter ../user.detailCourses ../course._id this.id}}}/{{{getLengthChapterLesson this.lesson}}} | {{{getTotalTimeLengthChapter this.lesson}}}</span>
          </div>
          <div class="learn-track-stepList d-none" id="item{{@index}}">
            {{#each this.lesson}}
              <div class="learn-track-stepList-item">
                <div class="learn-track-stepList-item-info">
                  <h3 class="learn-track-stepList-item-title">1. {{this.name}}
                    {{{checkLessonCompleted this.id ../../user.detailCourses ../../course._id}}}
                  </h3>
                  <p class="learn-track-stepList-item-desc">
                    <i class="fa-solid fa-circle-play"></i>
                    {{{numberToTime this.videoLength}}}
                  </p>
                </div>
              </div>
            {{/each}}
          </div>
        </div>
        {{/each}}
      </div>
    </div>
  </div>
</div>