<div class="setting">
    <h1 class="setting-heading">Cài đặt</h1>
    <div class="setting-info">
        <h2 class="setting-info-heading">Thông tin cá nhân</h2>
        <div class="setting-info-wrapper">
            <div class="setting-info-content">
                <h3 class="setting-info-content-heading">Họ tên</h3>
                <input type="text" class="setting-info-content-input" placeholder="Thêm họ tên..." readonly
                    id="setting-input-fullName" value="{{user.fullName}}" >
                <p class="setting-info-content-desc">Tên của bạn xuất hiện trên trang cá nhân và bên cạnh các bình
                    luận của bạn.</p>
            </div>
            <div class="setting-info-btn">
                <a class="setting-info-btn-edit" onclick="editProfileBtn('fullName')" id="edit-btn-fullName">Chỉnh sửa</a>
                <div class="setting-info-btn-wrapper d-none" id="save-btn-fullName">
                    <a class="setting-info-btn-save" onclick="submitValueToEditProfile('fullName')">Lưu</a>
                    <a class="setting-info-btn-cancel" onclick="cancelEditProfile('fullName')">Huỷ</a>
                </div>
            </div>
        </div>
        <div class="setting-info-wrapper">
            <div class="setting-info-content">
                <h3 class="setting-info-content-heading">Bio</h3>
                <input type="text" class="setting-info-content-input" placeholder="Thêm bio..." id="setting-input-bio" value="{{user.bio}}" >
                <p class="setting-info-content-desc">Bio hiển thị trên trang cá nhân và trong các bài viết (blog) của
                    bạn.</p>
            </div>
            <div class="setting-info-btn">
                <a class="setting-info-btn-edit" onclick="editProfileBtn('bio')" id="edit-btn-bio">Chỉnh sửa</a>
                <div class="setting-info-btn-wrapper d-none" id="save-btn-bio">
                    <a class="setting-info-btn-save" onclick="submitValueToEditProfile('bio')">Lưu</a>
                    <a class="setting-info-btn-cancel" onclick="cancelEditProfile('bio')">Huỷ</a>
                </div>
            </div>
        </div>
        <div class="setting-info-wrapper">
            <div class="setting-info-content">
                <h3 class="setting-info-content-heading">Avatar</h3>
                <p class="setting-info-content-validImage">Nên là ảnh vuông, chấp nhận các tệp: JPG, PNG hoặc GIF.</p>
            </div>
            <div class="setting-info-avatar" onclick="uploadAvatarUser()" id="setting-upload-div">
                <div class="p-realative">
                    <img src="/{{user.avatar}}"
                        alt="">
                    <a class="setting-info-icon d-none" id="setting-upload-icon"><i class="fa-solid fa-camera"></i></a>
                </div>
            </div>
            <div class="setting-info-btn">
                <a class="setting-info-btn-edit" onclick="editUploadBtn()" id="edit-btn-upload">Chỉnh sửa</a>
                <div class="setting-info-btn-wrapper d-none" id="save-btn-upload">
                    <a class="setting-info-btn-save" onclick="submitBtnToUploadAvatar()">Lưu</a>
                    <a class="setting-info-btn-cancel" onclick="cancelEditUpload()">Huỷ</a>
                </div>
            </div>
        </div>
        <div class="setting-info-wrapper">
            <div class="setting-info-content">
                <h3 class="setting-info-content-heading">Email</h3>
                <input type="text" class="setting-info-content-input" placeholder="Thêm email..." readonly value="{{user.email}}" >
            </div>
        </div>
        <div class="setting-info-wrapper">
            <div class="setting-info-content">
                <h3 class="setting-info-content-heading">User Name</h3>
                <input type="text" class="setting-info-content-input" placeholder="Thêm user name..." readonly value="{{{addSlugUser '@' user.slug}}}" >
                <p class="setting-info-content-desc">URL: https://fullstack.edu.vn/profile/{{{addSlugUser '@' user.slug}}}</p>
            </div>
        </div>
        <div class="setting-info-wrapper">
            <div class="setting-info-content">
                <h3 class="setting-info-content-heading">Số điện thoại</h3>
                <input type="text" class="setting-info-content-input" placeholder="Thêm số điện thoại..." readonly value="{{user.phoneNumber}}">
                <p class="setting-info-content-desc">Điện thoại kết nối với F8.</p>
            </div>
        </div>
    </div>
    <div class="setting-info">
        <h2 class="setting-info-heading">Mạng xã hội</h2>
        <div class="setting-info-wrapper">
            <div class="setting-info-content">
                <h3 class="setting-info-content-heading">Facebook.</h3>
                <input type="text" class="setting-info-content-input"
                    placeholder="Eg. https://www.facebook.com/hoclaptrinhf8" readonly id="setting-input-facebook" value="{{user.facebook}}" >
            </div>
            <div class="setting-info-btn">
                <a class="setting-info-btn-edit" onclick="editProfileBtn('facebook')" id="edit-btn-facebook">Chỉnh
                    sửa</a>
                <div class="setting-info-btn-wrapper d-none" id="save-btn-facebook">
                    <a class="setting-info-btn-save" onclick="submitValueToEditProfile('facebook')">Lưu</a>
                    <a class="setting-info-btn-cancel" onclick="cancelEditProfile('facebook')">Huỷ</a>
                </div>
            </div>
        </div>
        <div class="setting-info-wrapper">
            <div class="setting-info-content">
                <h3 class="setting-info-content-heading">Youtube</h3>
                <input type="text" class="setting-info-content-input"
                    placeholder="Eg. https://www.youtube.com/c/F8VNOfficial" readonly id="setting-input-youtube">
            </div>
            <div class="setting-info-btn">
                <a class="setting-info-btn-edit" onclick="editProfileBtn('youtube')" id="edit-btn-youtube">Chỉnh sửa</a>
                <div class="setting-info-btn-wrapper d-none" id="save-btn-youtube">
                    <a class="setting-info-btn-save">Lưu</a>
                    <a class="setting-info-btn-cancel" onclick="cancelEditProfile('youtube')">Huỷ</a>
                </div>
            </div>
        </div>
    </div>
</div>
<form method="POST" action="/profile/settings/edit?_method=PUT" id="form-setting-edit-profile" hidden>
  <input type="text" id="edit-profile-input">
</form>
<form action="/profile/settings/upload" method="POST" enctype="multipart/form-data" id="form-setting-avatar">
    <input type="file" id="setting-avatar-user" style="display: none;" name="file" />
</form>